{%extends 'rio4plan_base.tpl'%}
{%block title%}ส่วนแผนงาน สำนักงานชลประทานที่ 4-หน้าหลัก{%endblock title%}
{%block style%}
{{block.super}}

@font-face {
    font-family: designFont;
    src: url('{{asset_url}}rio4plan/fonts/ThaiSansNeue-Regular.otf');
}
@font-face {
    font-family: designFontBold;
    src: url('{{asset_url}}rio4plan/fonts/ThaiSansNeue-Bold.otf');
}
.designFont{
font-family: designFont;
font-size:14px;
}

{%endblock style%}
	
{%block content%}
<div ng-controller="about" id="about">{{ng_swan|safe}}
<ol class="breadcrumb">
	<li><a href="{{root_url}}page/mainpage.html">หน้าหลัก</a></li>
	<li>เกี่ยวกับส่วนแผนงาน</li>
</ol>
<div class="page-header" style="font-family:designFont;">
	<h1>เกี่ยวกับส่วนแผนงานสำนักงานชลประทานที่ 4</h1>
</div>
<div id="widget_about_org"></div>
<div id="widget_about_person"></div>

</div><!--ng-controller=about-->
{%endblock content%}
