{%extends 'base.tpl'%}
{%block js_script%}
			/*http://wrdc.rid.go.th/wrdc/oauth2callback#access_token=ya29.uQFFGn39w4Gghn8uVQl38Hc0ipfY3Rm66FDYI2VMMEeEcedsuHtHnd7TSQgMa_ppmgzJkA&token_type=Bearer&expires_in=3600
			*/
        function getUserInfo(acToken) {
            $.ajax({
                url: 'https://www.googleapis.com/oauth2/v1/userinfo?access_token=' + acToken,
                data: null,
                success: function(resp) {
                    user    =   resp;
                    
					localStorage.setItem("rio4plan_google_access_token", user.email);

                },
                dataType: "jsonp"
            });
        }

        //credits: http://www.netlobo.com/url_query_string_javascript.html
        function gup(url, name) {
            name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
            var regexS = "[\\#&]"+name+"=([^&#]*)";
            var regex = new RegExp( regexS );
            var results = regex.exec( url );
            if( results == null )
                return "";
            else
                return results[1];
        }
		
{%endblock js_script%}
{%block init_js_script%}
	var url =   document.URL;
	var acToken =   gup(url, 'access_token');
	var tokenType = gup(url, 'token_type');
	var expiresIn = gup(url, 'expires_in');
	var register_time=(new Date()).toJSON();
	//alert(register_time);
	// get email
    $.ajax({
        url: 'https://www.googleapis.com/oauth2/v1/userinfo?access_token=' + acToken,
        data: null,
        success: function(resp) {
            user    =   resp;
			//alert(user.email);
			localStorage.setItem("rio4plan_google_access_token", acToken);
			localStorage.setItem("rio4plan_google_email", user.email);
			localStorage.setItem("rio4plan_google_expiresIn", expiresIn);
			localStorage.setItem("rio4plan_google_start", register_time);
			$.ajax({
				url:'{{root_url}}register_google_account/',
				//async:true,
				
				data:{
					"email":user.email,
					"access_token":acToken,
					"expire":expiresIn,
					"register_time":register_time
					},
		
			}).success(function(data){
				console.log(data.status);
				localStorage.setItem("rio4plan_google_userType", data.data.userType);
				window.location.href="{{root_url}}page/mainpage.html";
			});
			//save to 
        },
        dataType: "jsonp"
    });
	
{%endblock %}
{%block body%}
<div id="status">can not recive token <a href="{{root_url}}page/wellcome.html">Back</a></div>
{%endblock body%}