{%extends '_wmss_base.html' %}
{%block title%}WMSS-Main{%endblock %}
{%block style%}
{{block.super|safe}}
html,body {

	background-color:#FAFAFA;

}

{%endblock %}
{%block content%}
<div ng-app="wmssApp"><!--warp body-->
<div ng-controller="wmssController">
	asdfasdfadfs<br/>
	asdfasdfadfs<br/>right_panel
	asdfasdfadfs<br/>
	asdfasdfadfs<br/>asdfasdfadfs<br/>
	asdfasdfadfs<br/>asdfasdfadfs<br/>
	asdfasdfadfs<br/>asdfasdfadfs<br/>
	asdfasdfadfs<br/>asdfasdfadfs<br/>
	asdfasdfadfs<br/>asdfasdfadfs<br/>
	asdfasdfadfs<br/>asdfasdfadfs<br/>
	asdfasdfadfs<br/>asdfasdfadfs<br/>
	
</div>
</div><!--end wrap body-->
{%endblock %}
{%block extra_js_script%}
{{block.super|safe}}
{%endblock %}
